.newList {
    flex: 4;
    padding: 20px;
    background-color: #0b0b0b;
    color: white;
    min-height: 100vh;
    padding-top: 80px;
}

.addProductTitle {
    margin-bottom: 20px;
    color: #e50914;
    text-transform: uppercase;
}

.addProductForm {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.addProductItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.addProductItem label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addProductItem input,
.addProductItem select {
    padding: 10px;
    background-color: #333;
    color: white;
    border: 1px solid #444;
    border-radius: 5px;
}

.addProductItem select:focus {
    outline: none;
    border-color: #e50914;
}

.addProductButton {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #e50914;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 30px;
}

.addProductButton:hover {
    background-color: #c40812;
}