.myListPage {
    background-color: #0b0b0b;
    min-height: 100vh;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.myListContainer {
    padding-top: 100px;

    padding-left: 50px;
    padding-right: 50px;
}

.myListContainer h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #e50914;

}


.myListGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.myListItem {
    margin-bottom: 30px;
    transition: transform 0.2s;
}

.myListItem:hover {
    transform: scale(1.05);

    z-index: 9;
}


.empty-state {
    text-align: center;
    margin-top: 50px;
    color: gray;
}

.empty-state h2 {
    color: white;
    margin-bottom: 10px;
}