.home {
    background-color: #0b0b0b;
    overflow: hidden;
    min-height: 100vh;
}

/* Đẩy phần danh sách xuống dưới để không bị Banner đè lên */
.list-container {
    position: relative;
    z-index: 5;
    /* Nổi lên trên nền */
    margin-top: -150px;
    /* Kéo trùm lên phần dưới của banner một chút cho đẹp */
    padding-bottom: 50px;
}

/* Nếu màn hình nhỏ thì chỉnh lại margin */
@media only screen and (max-width: 768px) {
    .list-container {
        margin-top: 0;
    }
}