.home {
    background-color: #0b0b0b;
    overflow: hidden;
    min-height: 100vh;
}


.list-container {
    position: relative;
    z-index: 5;

    margin-top: -150px;

    padding-bottom: 50px;
}


@media only screen and (max-width: 768px) {
    .list-container {
        margin-top: 0;
    }
}