.profile {
    background-color: #0b0b0b;
    min-height: 100vh;
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.profileContainer {
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileWrapper {
    width: 90%;
    max-width: 500px;
}

.profileTop {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.profileTop img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #e50914;
}

.profileInfo {
    display: flex;
    flex-direction: column;
}

.profileName {
    font-size: 30px;
    font-weight: bold;
}

.profileBottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profileBottom label {
    font-size: 14px;
    color: gray;
    margin-top: 10px;
}

.profileBottom input {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

.updateButton {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #e50914;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.logoutButton {
    padding: 10px;
    border: 1px solid #e50914;
    background-color: transparent;
    color: #e50914;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}