.listItem {
    width: 225px;
    height: 135px;
    background-color: #0b0b0b;
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}


.listItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}